In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('prostate_cancer_data18.csv')

In [8]:
df.sample(10)

,FPX,FMX,HHX,INTV_QRT,WTIA_SA,WTFA_SA,SEX,HISPAN_I,R_MARITL,MRACRPI2,...,DEP_2,PAIN_4,TIRED_1,TIRED_2,TIRED_3,RCS_AFD,PAIN_2A,ANX_3R,DEP_3R,COGCAUS2
451,1,1,21343,2,9343.6,8368,1,12,1,1,...,2,3.0,2,1.0,1.0,4,4,NaN,NaN,NaN
242,1,1,11964,1,4684.4,4122,1,12,4,15,...,1,3.0,1,NaN,NaN,4,4,3.0,3.0,NaN
534,1,1,25432,2,9679.4,8668,1,12,4,1,...,1,1.0,1,NaN,NaN,4,2,NaN,1.0,NaN
664,1,1,31493,3,3680.2,3262,1,12,7,1,...,2,2.0,2,2.0,2.0,4,4,NaN,NaN,NaN
673,1,1,32051,3,8892.0,7880,1,12,1,1,...,2,NaN,2,1.0,2.0,4,1,NaN,NaN,NaN
653,1,1,31161,3,7535.7,6678,1,12,1,1,...,2,1.0,3,2.0,1.0,4,3,1.0,1.0,NaN
300,1,1,14509,2,14043.3,15287,1,12,1,1,...,2,NaN,2,2.0,3.0,4,1,3.0,NaN,NaN
1136,1,1,54470,4,14475.0,13324,1,12,1,1,...,2,1.0,2,1.0,1.0,4,3,1.0,NaN,NaN
804,1,1,38666,3,2856.5,2999,1,12,7,1,...,2,1.0,3,1.0,3.0,4,2,3.0,1.0,11.0
442,1,1,20901,2,3316.6,4154,1,12,7,1,...,2,3.0,4,3.0,2.0,4,4,NaN,NaN,NaN